/* Landing page */
.landingBody {
  height: 100vh;
  background-image: url(./wallpaper\ warhouse.jpg);
  background-size: cover;
}

.aboutBody{
  height: 100vh;
  background-image: url(./about.jpg);
  background-size: cover;
}

.landingNavBar{
  height: 11vh;
  background-color: white;
  display: flex;
}

.landingMainBody{
  display: flex;
  flex-direction: column;
  gap: 5vh;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMainBody{
  display: flex;
  flex-direction: row;
  gap: 5vh;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #6c584c;
}

.aboutFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #6c584c;
}

#logo{
  width: 10rem;
  height: auto;
}

.container-fluid{
  margin-right: 2rem;
  margin-left: 2rem;
}

#searchSentence{
  color: white;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

#searchBox{
  padding: 1rem 20vw;
  border: 2px solid #555;
  border-radius: 25px;
  font-size: 1.2rem;
  font-family: "Helvetica Neue", sans-serif;
  color: #555;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#searchBox:focus {
  outline: none;
  border-color: #392519;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-collapse{
  background-color: white;
  transition: ease-out 0.5s;
}

.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2rem;
  gap: 1.2rem;
}

.nav-link{
  font-weight: bolder;
  font-size: 1.2rem;
}

/* Footer section */

.social-icons{
  margin: 1.2rem;
}

.fab{
  color: white;
}

.fas{
  color: rgb(234, 3, 3);
}

.contactIcons{
  color: white;
}

.social-icons li,
.contact-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons i,
.contact-icons i {
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

.social-icons i:hover,
.contact-icons i:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .social-icons i,
  .contact-icons i {
    font-size: 20px;
  }
}

.aboutWarehouse{
  width: 50%;
  background-color: white;
  padding: 3%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  text-align: center;
  font-size: large;
  color: rgb(30, 29, 29);
  margin: 2%;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Products Page */

.card{
  width: 40vw;
  height: auto;
  padding: 1.2rem;
}

.card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-top: 2rem;
}

.card-body > *{
  margin-right: 1.2rem;
}

.card-img-top{
  width: 10rem;
  height: auto;
  align-self: center;
}

.card-title{
  font-weight: bolder;
  font-size: 1.2rem;
}

.btn-primary{
  width: 3rem;
  height: 3rem;
}

.row{
  gap: 2rem;
}

.productMainBody{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 5vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionWall{
  background-color: red;
}

.productMainBody{
  display: flex;
  flex-direction: row;
}

.purchaseBody{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1101%26quot%3b)' fill='none'%3e%3cpath d='M1429 422L1428 621' stroke-width='6' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1008 114L1007 463' stroke-width='8' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M753 174L752 -217' stroke-width='10' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M447 451L446 296' stroke-width='10' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M983 81L982 -102' stroke-width='10' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M730 266L729 -95' stroke-width='10' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1384 285L1383 -117' stroke-width='8' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M147 54L146 309' stroke-width='8' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M475 360L474 550' stroke-width='8' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M523 179L522 -31' stroke-width='8' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M342 222L341 369' stroke-width='10' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1125 472L1124 164' stroke-width='10' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1371 13L1370 -142' stroke-width='6' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M901 165L900 390' stroke-width='8' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M393 330L392 530' stroke-width='6' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M23 259L22 410' stroke-width='10' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M326 487L325 241' stroke-width='8' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1316 465L1315 313' stroke-width='6' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M540 273L539 638' stroke-width='6' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M612 341L611 149' stroke-width='6' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M954 486L953 329' stroke-width='6' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M646 186L645 332' stroke-width='8' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1378 146L1377 512' stroke-width='10' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M668 331L667 103' stroke-width='8' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M468 487L467 322' stroke-width='6' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1198 304L1197 692' stroke-width='6' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M322 14L321 -297' stroke-width='8' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1251 76L1250 -164' stroke-width='10' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M475 425L474 803' stroke-width='8' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M839 213L838 45' stroke-width='6' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1188 471L1187 81' stroke-width='10' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1062 390L1061 716' stroke-width='8' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1157 512L1156 702' stroke-width='6' stroke='url(%23SvgjsLinearGradient1102)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M183 315L182 -50' stroke-width='6' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1108 157L1107 -66' stroke-width='6' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M295 317L294 632' stroke-width='6' stroke='url(%23SvgjsLinearGradient1103)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1101'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1102'%3e%3cstop stop-color='rgba(182%2c 130%2c 18%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(182%2c 130%2c 18%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1103'%3e%3cstop stop-color='rgba(182%2c 130%2c 18%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(182%2c 130%2c 18%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

}

.purchaseForm{
  display: flex;
  flex-direction: column;
  background-color: rgb(254, 244, 224);
  padding: 1.2rem;
  border-radius: 10px;
}

.purchaseForm > * {
  margin-bottom: 0.9rem;
  border-radius: 4px;
  border-color: rgb(225, 223, 223);
}

.purchaseForm > label {
  font-weight: bold;
}

.purchaseFormBtns{
  margin-left: 1rem;
  background-color: #e6edc5;
  border-color: rgb(225, 223, 223);
  font-weight: 400;
}

.purchaseMainbody{
  padding: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: row;
  gap: 5vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkOutBody{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3cpath d='M -539.2542759246337%2c93 C -443.25%2c148.6 -251.25%2c375.8 -59.25427592463372%2c371 C 132.75%2c366.2 228.75%2c42.6 420.7457240753663%2c69 C 612.75%2c95.4 708.75%2c491 900.7457240753663%2c503 C 1092.75%2c515 1272.89%2c157.8 1380.7457240753663%2c129 C 1488.6%2c100.2 1428.15%2c313 1440%2c359' stroke='rgba(185%2c 136%2c 13%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -685.0993765163059%2c481 C -589.1%2c400.2 -397.1%2c81.2 -205.09937651630597%2c77 C -13.1%2c72.8 82.9%2c420.2 274.90062348369406%2c460 C 466.9%2c499.8 562.9%2c283.8 754.9006234836941%2c276 C 946.9%2c268.2 1097.88%2c443.2 1234.900623483694%2c421 C 1371.92%2c398.8 1398.98%2c216.2 1440%2c165' stroke='rgba(185%2c 136%2c 13%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -820.9785948370362%2c209 C -724.98%2c226.6 -532.98%2c316.4 -340.9785948370362%2c297 C -148.98%2c277.6 -52.98%2c98.6 139.0214051629638%2c112 C 331.02%2c125.4 427.02%2c365.8 619.0214051629638%2c364 C 811.02%2c362.2 934.83%2c105.8 1099.0214051629637%2c103 C 1263.22%2c100.2 1371.8%2c300.6 1440%2c350' stroke='rgba(185%2c 136%2c 13%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -290.0832823981692%2c148 C -194.08%2c179.8 -2.08%2c309.2 189.9167176018308%2c307 C 381.92%2c304.8 477.92%2c120.8 669.9167176018308%2c137 C 861.92%2c153.2 957.92%2c366.8 1149.916717601831%2c388 C 1341.92%2c409.2 1571.9%2c252.2 1629.916717601831%2c243 C 1687.93%2c233.8 1477.98%2c322.2 1440%2c342' stroke='rgba(185%2c 136%2c 13%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

#thanksSentence{
  font-size: 5vw;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}